:root {
  --functional-background: #D6DCD1;
  --operations-background: #F2C9D4;
  --mr-background: #e8ddc4;
  --mc-background: #C1AAAA;
  --mplus-background: #D0C3BD;
  --mminus-background: #D0C3BD;
  --sign-background: #BF9B9B;
  --square-background: #A66D7C;
  --power-background: #734058;
  --equal-background: #594347;
  --btn-height: 12px;
  --btn-width: 12px;
}

[data-theme=light] {
  --text-color: #D9D9D9;
  --number-text-color: #1E1E1E;
  --background-color: #fff;
  --calculator-background: #F2F2F2;
  --screen-background: #D9D9D9;
  --number-background: #D9D9D9;
  --btn-hover-filter: 90%;
  --output-text-color: #1E1E1E;
  --input-text-color: #737373;
}

[data-theme=dark] {
  --text-color: #1E1E1E;
  --number-text-color: #A66D7C;
  --background-color: #3B3B3B;
  --calculator-background: #262626;
  --screen-background: #1E1E1E;
  --number-background: #1E1E1E;
  --btn-hover-filter: 120%;
  --output-text-color: #A66D7C;
  --input-text-color: #b6b6b6;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  transition: background-color 1s ease, color 1s ease;
  background: var(--background-color);
}

h1 {
  color: var(--text-color);
  font-family: "League Spartan", sans-serif;
}

.container {
  display: flex;
  gap: 48px;
  align-items: center;
  overflow: hidden;
  margin-left: 150px;
}

.theme-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--screen-background);
  border-radius: 48px;
  padding: 8px;
}
.theme-container .switch {
  background-color: var(--screen-background);
  border-radius: 24px;
  width: 80px;
  height: 32px;
  display: flex;
  user-select: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.theme-container .switch .theme-icon {
  font-size: 24px;
  color: var(--background-color);
  transition: color 0.3s ease;
}

.calculator {
  background-color: var(--calculator-background);
  padding: 8px;
  width: fit-content;
  border-radius: 48px;
}
.calculator .screen {
  background-color: var(--screen-background);
  height: 180px;
  width: 100%;
  border-radius: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calculator .screen .line {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  white-space: pre;
  box-sizing: border-box;
  padding: 16px 24px 16px 16px;
}
.calculator .screen .input-line {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 16px;
  max-width: 392px;
  display: flex;
  flex-wrap: wrap;
  color: var(--input-text-color);
}
.blinking-cursor {
  display: inline-block;
  margin-bottom: 2px;
  width: 2px;
  height: 0.8em;
  margin-left: 2px;
  background-color: var(--input-text-color);
  animation: blink 1s step-start infinite;
  vertical-align: bottom;
}
.calculator .screen .output-line {
  font-family: "League Spartan", sans-serif;
  font-weight: bold;
  font-size: 48px;
  color: var(--output-text-color);
}
.calculator .buttons {
  background-color: var(--calculator-background);
  width: fit-content;
  border-radius: 48px;
  padding: 16px;
  display: grid;
  grid-template-columns: 60px 60px 30px calc(30px - 0.6em) 60px 36px 36px;
  grid-template-rows: repeat(6, 60px);
  grid-column-gap: 0.6em;
  grid-row-gap: 0.6em;
  grid-template-areas: "clear memory_recall memory_clean memory_clean memory_plus memory_minus memory_minus" "one two three three plus sign sign" "four five six six minus square square" "seven eight nine nine multiplication power power" "zero decimal rest rest division equal equal" "open open open close close close close";
  justify-items: center;
  align-items: center;
}
.calculator .buttons .btn {
  box-sizing: border-box;
  border-radius: 50%;
  padding: 24px;
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-weight: bold;
  cursor: pointer;
  width: 12px;
  height: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
  transition: color 0ms ease;
}
.calculator .buttons .btn:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15), 0 2px 4px rgba(0, 0, 0, 0.1);
  filter: brightness(var(--btn-hover-filter));
}
.calculator .buttons .btn:active {
  animation: flash-btn 2s forwards;
}
.calculator .buttons .one {
  grid-area: one;
}
.calculator .buttons .two {
  grid-area: two;
}
.calculator .buttons .three {
  grid-area: three;
}
.calculator .buttons .four {
  grid-area: four;
}
.calculator .buttons .five {
  grid-area: five;
}
.calculator .buttons .six {
  grid-area: six;
}
.calculator .buttons .seven {
  grid-area: seven;
}
.calculator .buttons .eight {
  grid-area: eight;
}
.calculator .buttons .nine {
  grid-area: nine;
}
.container .buttons .rest {
  grid-area: rest;
}
.calculator .buttons .number {
  color: var(--number-text-color);
  background-color: var(--number-background);
}
.calculator .buttons .operations {
  background-color: #F2C9D4;
}
.calculator .buttons .plus {
  grid-area: plus;
}
.calculator .buttons .minus {
  grid-area: minus;
}
.calculator .buttons .multiplication {
  grid-area: multiplication;
}
.calculator .buttons .division {
  grid-area: division;
}
.calculator .buttons .functional {
  background-color: #D6DCD1;
}
.calculator .buttons .memory_recall {
  background-color: #e8ddc4;
  grid-area: memory_recall;
}
.calculator .buttons .memory_clean {
  background-color: #C1AAAA;
  grid-area: memory_clean;
}
.calculator .buttons .memory_plus {
  background-color: #D0C3BD;
  grid-area: memory_plus;
}
.calculator .buttons .memory_minus {
  background-color: #D0C3BD;
  border-radius: 24px;
  grid-area: memory_minus;
}
.calculator .buttons .sign {
  background-color: #BF9B9B;
  grid-area: sign;
  border-radius: 24px;
  width: 24px;
}
.calculator .buttons .square {
  background-color: #A66D7C;
  grid-area: square;
  border-radius: 24px;
  width: 24px;
}
.calculator .buttons .power {
  background-color: #734058;
  grid-area: power;
  border-radius: 24px;
  width: 24px;
}
.calculator .buttons .equal {
  background-color: #594347;
  grid-area: equal;
  border-radius: 24px;
  padding: 24px 43.2px;
  width: 24px;
}

.calculator .buttons .equal:active {
  animation: flash-equal 2s forwards;
}

.calculator .buttons .power, .calculator .buttons .square, .calculator .buttons .sign, .calculator .buttons .memory_minus {
  padding: 24px 28.8px;
  width: 24px;
}

.calculator .buttons .brackets[data-type="open"] {
  grid-area: open;
  justify-self: end;
  margin-right: 0.6em;
  width: 90px;
  border-radius: 24px;
  background-color: #D9BFC1;
}

.calculator .buttons .brackets[data-type="close"] {
  grid-area: close;
  justify-self: start;
  width: 90px;
  border-radius: 24px;
  background-color: #D9BFC1;
}


@keyframes flash-equal {
  0%   { background-color: var(--equal-background); }
  10%  { background-color: #ec920b; }
  90%  { background-color: var(--power-background); }
  95% { background-color: var(--equal-background); }
}

@keyframes flash-btn {
  0%   {
    filter: brightness(calc(var(--btn-hover-filter) * 1.2));
    transform: scale(0.5);
  }
  50% {
    transform: scale(1.5);
  }
  95% {
    filter: brightness(calc(var(--btn-hover-filter)));
    transform: scale(1);
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}